html.page-home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to left, #5f2c82, #49a09d);
  background-blend-mode: screen;
  -webkit-animation: blur 5s;
  animation: blur 5s;
}

.content-home .slogan {
  color: #fff;
}

@-webkit-keyframes blur
{
  from {
    -webkit-filter: blur(2px);
  }
  to {
    -webkit-filter: initial;
  }
}

@keyframes blur
{
  from {
    filter: blur(2px);
  }
  to {
    filter: initial;
  }
}
